{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/app.css"/>

  <script>
    video = {{ video_data|safe }};
    imageList = {{image_list|safe}};
    mturk = {{ mturk_data.assignment_id|yesno:'true,false,false' }};
    hitId = '{{ mturk_data.hit_id }}';
    workerId = '{{ mturk_data.worker_id }}';
    assignmentId = '{{ mturk_data.assignment_id }}';
    helpEmbedded = {{ help_embed|yesno:'true,false,false' }};
  </script>
  <script src="/static/vendor/raphael/raphael.min.js"></script>
  <script src="/static/vendor/imgplay/jquery.imgplay.min.js"></script>
  <script type="text/javascript" src="/static/views/framePlayers.js"></script>
  <script type="text/javascript" src="/static/app.js"></script>
  <script type="text/javascript" src="/static/bounds.js"></script>
  <script type="text/javascript" src="/static/datasources.js"></script>
  <script type="text/javascript" src="/static/misc.js"></script>
  <script type="text/javascript" src="/static/player.js"></script>
  <script type="text/javascript" src="/static/annotation.js"></script>
  <script type="text/javascript" src="/static/views/keyframebar.js"></script>
  <script type="text/javascript" src="/static/views/player.js"></script>
  <script type="text/javascript" src="/static/views/rect.js"></script>

{% endblock %}

{% block body %}
 <!-- search bar start -->
 <div class="search">  
  <input type="text" id="search_text" / placeholder="请输入要搜索的英雄"><input type="button" value="搜索">  
  <a id="attention">您当前标注的是：<b id="ischecked"></b></a>
  <div class="allannotations">
    <div id="slide_button"><span id="type_num"></span>个标注对象的数据统计<i class="icon select-down" ></i></div>
    <div id="salary"></div>
  </div>
  <div id="auto_div">  
  </div>  
</div>  
<!-- search bar end -->
<div class=" {{ iframe_mode|yesno:'empty, panel panel-default panel-space'}} player-container" id="player">

<div class="panel-body">

  <div class="top-controls">
    {% for label in label_data %}
      <label for="object-radio-{{label.name}}" class="label" style="background-color: #{{label.color}}">
        {{label.name}}
        <input type="radio" name="object" id="object-radio-{{label.name}}" value="{{label.name}}" {% if forloop.first %} checked {% endif %}>
      </label>
    {% endfor %}

    <div id="submit-container">
      <!-- Admin View -->
        <div id="submit-btn-group" class="btn-group" role="group">
          {% if request.user.is_staff == False %}
            <button id="submit-btn" type="button" class="btn btn-primary">Submit</button>
          {% else %}
            <button id="submit-btn" type="button" class="btn btn-primary">保存</button>

            {% if mturk_data.status == "Awaiting Approval" or mturk_data.status == "Rejected" %}
              <button id="btn-show-reject" type="button" class="btn btn-danger">拒绝</button>
              <button id="btn-show-accept" type="button" class="btn btn-success ">接受</button>
            {% endif %}
            <button class="btn" disabled>{{ mturk_data.status }}</button>
          {% endif %}
        </div>
    </div>
  </div>

  <div class="player-screen">
    {% if image_list %}
      <div class="player-video">
        {% for image in image_list %}
          {% if forloop.counter0 < 25 %}
            <img src="{{image_list_path}}/{{image}}" />
          {% else %}
            <img data-src="{{image_list_path}}/{{image}}" />
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="player-video-container">
        <video class="player-video"></video>
      </div>
    {% endif %}
    <div class="player-paper"></div>
    <div class="player-loader">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div class="panel panel-primary bottom-controls">
    <div class="panel-heading">
      <input class="player-control-scrubber" type="range" min="0" max="10000" value="0" step="1"/>
      <div class="panel panel-success">
        <!-- <div class="panel-heading style="background-color: #3A7734"> -->
          <div class="player-keyframebar"></div>
        <!-- </div> -->
      </div>

      <span class="noselect">
        <div class="glyphicon glyphicon-fast-backward player-control-goto-start" title="移动到视频最开始"></div>
        <div class="glyphicon glyphicon-step-backward player-control-step-backward" title="往后移动一帧 (快捷键 - 'a')"></div>
        <div class="glyphicon glyphicon-play player-control-play-pause" title="播放 / 暂停 (快捷键 - '空格'')"></div>
        <div class="glyphicon glyphicon-step-forward player-control-step-forward" title="往前移动一帧 (快捷键 - 's')"></div>
        <div class="glyphicon glyphicon-fast-forward player-control-goto-end" title="移动到视频结尾"></div>
        <div class="glyphicon glyphicon-trash player-control-delete-keyframe" title="删除选择的帧 (快捷键 - 'delete', 'd')"></div>
      </span>
      <input class="form-control player-control-time" id="frame-number" placeholder="0">
      <div class="pull-right">
        <div class="rateinput">    
          步长<input class="form-control" id="frameRate" placeholder="0.04" >秒    
          <div class="input_alert">请输入0.01-60之间的数字<a class="close_tip">&times;</a> </div>           
        </div>
        <input id="scale-checkbox" type="checkbox" />
        <label for="scale-checkbox">Scale to fit</label>
      </div>
    </div>
  </div>

</div>

{% include "modals/generic_modal.html" %}
{% include "modals/instructions.html" %}
{% include "modals/accept_reject_form.html" %}
{% include "modals/email_form.html" %}

</div>
{% endblock %}


